{% extends 'base.html' %}

{% block title %}
<title>Mickey's Home</title>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-sm">
  <div class="container">
    <div class="navbar-brand" id="head-logo">
      <a href="{% url 'portfolio:home' %}">
        <span class="mask"></span>
        <span class="behind"></span>
      </a>
    </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <i data-feather="align-center"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a href="#home" class="nav-link">About</a>
        </li>

        <li class="nav-item">
          <a href="#home" class="nav-link">Work</a>
        </li>

        <li class="nav-item dropdown">
          <a href="#home" class="nav-link dropdown-toggle id=" navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"">Notes</a>
          <div class=" dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'users:search' %}" class="dropdown-item">User points lookup</a>
    </div>
    </li>

    </ul>
  </div>
  </div>
</nav>

<div class="title">
  <h3>I'm Yiqi</h3>
</div>


{% endblock %}