{% extends 'base.html' %}

{% block content %}

<div class=" content-block title">
  <div class="content">
    <h3>Hi, I'm Yiqi</h3>
  </div>
</div>

<div class="content-block blog">
  <div class="content">
    <h3>This is a place that I can put my projects and ideas together</h3>
  </div>
</div>

<div class="content-block mao">
  <div class="content">
    <h3>If you wanna know more about me.</h3>
  </div>
</div>


<div class="content-block">
  <div class="content">
    <h3 style="color:lightslategrey">You can</h3>
    <p></p>
    <a href="mailto: yitsi.huang@gmail.com" type="button" class="btn btn-success">Contact Me</a>
  </div>
</div>

{% endblock %}