{% extends 'base.html' %}

{% block content %}

<div class="content-block title">
  <div class="content">
    <h3>Work</h3>
  </div>
</div>

<div class="content-block acnh">
  <div class="content">
    <h3>Animal Crossing NH</h3>
    <p>Toy React project for Animal Crossing: New Horizons.</p>
    <a href="{% url 'acnh:index' %}" target="_blank" type="button" class="btn btn-success">View Demo</a>
  </div>
</div>

<div class="content-block userInfo">
  <div class="content">
    <h3>User Info Lookup Tool</h3>
    <p>Single page web app provide real customers an interface to check their in store points. Built with Django as backend and API with user info as well as admin portal to manage users. PostgreSQL for the database runing on AWS RDs. </p>
    <a href="{% url 'users:search' %}" type="button" class="btn btn-danger">View Demo</a>
  </div>
</div>

<div class="content-block mao">
  <div class="content">
    <h3>MAO glasses retailer partial</h3>
    <p>A glasses online store with JS and handlebars hosted with Bigcommerce. The website is unavailable now but still have a demo of the lense selection section.</p>
    <a href="http://dev.micown.com/" target="_blank" type="button" class="btn btn-dark">View Demo</a>
  </div>
</div>


<div class="content-block blog">
  <div class="content">
    <h3>Personal Blog</h3>
    <p>Simple blog page using Vanilla JS and bootstrap, hosted on github page with a python blog empty-template generator.</p>
    <a href="http://michuang.github.io/" target="_blank" type="button" class="btn btn-warning">View Demo</a>
  </div>
</div>

<div class="content-block">
  <div class="content">
    <h3></h3>
    <p></p>
    <a href="mailto: yitsi.huang@gmail.com" type="button" class="btn btn-primary">Contact Me</a>
  </div>
</div>

{% endblock %}