{% extends "base.html" %}
{% load i18n %}

{% block title %}
<title>Info</title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 mt-4">
      {% if user.first_name %}<p>{% blocktrans %}Welcome{% endblocktrans %} {{ user.first_name }}</p>{% endif %}
    </div>
    <div class="col-md-4 col-sm-10">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{% blocktrans %}You have{% endblocktrans %}: {{user.points}} point{{ user.points|pluralize }}</li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    <p><a href="{% url 'users:search' %}">Back</a> to search page.</p>
  </div>
</div>


{% endblock %}