{% extends "users/base.html" %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block content %}

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-4 mt-3">
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>
    <form class="form-group col-md-4 col-sm-10" action="{% url 'users:search' %}" method="post">
    {% csrf_token %}

      <div class="input-group mb-3">
        <input type="number" class="form-control" name="phone" placeholder="Phone number...">
        <button class="btn" type="submit"><i data-feather="search"></i></button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
