.page-container{
  position: relative;
  min-height: 100vh;
}

nav {
  background-color: #E0EBE8;
}

nav li a {
  color: #45b29a;
}

nav li a:hover{
  color: #21564b;
}

nav li a.active{
  color: #21564b;
}

#head-logo {
  border-radius: 60px;
  overflow: hidden;
  width: 72px;
  height: 72px;
  position: relative;
  margin: 0;
  padding: 0;
}

#head-logo span {
  display: block;
}

#head-logo .mask {
  margin-top: 6px;
  background: url('./img/PixelCharacter.png');
  background-size: 62px 62px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 72px;
  width: 72px;
  z-index: 1000;
}

#head-logo .behind {
  background: #f6f9f8;
  position: absolute;
  height: 72px;
  width: 72px;
  z-index: 800;
}

.nav-item {
  text-align: center;
}

.content-block{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  height: 400px;
}

.content-block h3{
  font-family:'Sofia';
  margin: 0 3rem;
  color: white;
}

.content {
  text-align: center;
}

.content a{
  color: #fff;
  margin-top: 2rem;
}

.content p{
  margin: 1rem 3rem;
  max-width: 30rem;
  color: whitesmoke;
}

.title {
  background-color: #E0EBE8;
}

.title h3 {
  color: black;
}

.acnh{
  background-color: #7dcc93;
}

.userInfo{
  background-color: #f76160;
}

.mao{
  background-color: #31355b;
}

.blog{
  background-color: #f8c687;
}

.main{
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  line-height: 60px;
  background-color: #c5ded7;
}

.footer p{
  position: absolute;
  padding: 1em 0;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  text-align: left;
}

.footer a {
  color: black
}

.footer a:hover {
  text-decoration: none;
  color: #21564b;
}
